<h1>Welcome to Digital Collections</h1>
<p>
  Digital Collections is a growing repository of digital image collections held at Indiana University campuses.
  This site is a
  <%= link_to 'Designated Archival Repository', 'https://libraries.indiana.edu/designated-archival-repository',
              title: "Learn more about why this site is a Designated Archival Repository."
  %>, and some content may not meet current accessibility standards.
  Please see our
  <%= link_to 'About', '/about',
      title: "Learn more about Digital Collections and tips for searching the site."
  %> page for more information about this service.
</p>

<div class="collection-counts-wrapper">
  As of <%= Time.now.strftime("%B %d, %Y") %>, Digital Collections contains:
  <div class="collection-counts-item">
    <span><%= Collection.count %></span>Collections
  </div>
  <div class="collection-counts-item">
    <span><%= Hyrax.config.registered_curation_concern_types.map(&:constantize).map(&:count).sum %></span>Works
  </div>
</div>
<br/>
