<div class="home_welcome">
  <%= render 'home_content_welcome' %>
</div>
<div class="full-width light-gray">
  <div class="row home_campuses">
    <%= render 'home_content_campuses' %>
  </div>
</div>

<div class="home_all_collections">
  <%= 
    link_to t('hyrax.homepage.admin_sets.link'),
              main_app.search_catalog_path(
                f: { human_readable_type_sim: ["Collection"]},
                sort: "num_works_isi desc"
              ),
              class: 'button' 
  %>
</div>

<div class="container-fluid">
  <div class="row">
    <%= render 'featured_works' %>
    <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>
</div>
